h1{
    text-align: center;
    color: rgb(247, 247, 247);
    background-color: rgb(27, 110, 206);
}
.outer{
    border: 4px solid black;
    margin: 10px;
}
h1{text-align: center;}
h1{font-family: "Ga Maamli", sans-serif;
    font-weight: 600;}
    h1{text-decoration:underline 3px ;}
    img{text-align:center;}
    img{max-width: 500px;}
    p{font-size: 30px;}
.border{
    width:100%;
    padding: 0px;
    background-color: cornflowerblue;
    border: solid black;
    font-weight: bold;
    font-size: 30px;
}
ul{
    font-size: 30px;
}

